/* #ca9C00 */
/* #FFC107 */
/* #212121 */

/* font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif; */

body {
    display: -webkit-box;
    display: flex;
    max-width: 1190px;
    width: 100%;
	height: 100%;
    margin: auto;
    border: 2px #212121 solid;
    font-family: 'Raleway', sans-serif;
    color: #212121;
}
::-moz-selection{
    background-color: #212121;
    color: white;
  }
::selection{
    background-color: #212121;
    color: white;
  }
img {
    width: 60%;
    height: auto;
    border-radius: 100%;
    border: #ca9C00 solid 4px;
}
a {
    color: #212121;
}


/* colonnage */
.row {
    display: -webkit-box;
    display: flex;
}
.colonnegauche{
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
    flex-direction: column;
	width: 30%;
	min-width: 224px;
	background-color: #FFC107;
	-webkit-box-pack: justify;
	justify-content: space-between;
}
.colonnedroite {
    display: -webkit-box;
    display: flex;
    width: 70%;
    margin-top: -10%;
}


/* en-tete */
header aside {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
    justify-content: center;
	-webkit-box-align: center;
    align-items: center;
	margin-top: 60px;
	margin-bottom: 50px;
}
header article {
	margin-left: 50px;
	margin-right: 70px;
    margin-top: 60px;
}
h1 {
    font-size: 250%;
    text-transform: uppercase;
}
h2 {
    margin-top: -20px;
}
.devel {
    border-bottom: 2px #FFC107 solid;
}
.prenom {
    color: #FFC107;
}


/* conlonne gauche */
h3 {
    text-align: center;
    font-size: 180%;
    background-color: #212121;
    color: #FFC107;
    text-transform: uppercase;
}
.contact {
    padding: 10px;
    margin: 10px;
    text-align: justify;
}
.adresse {
    font-weight: 700;
}
/* footer */
.footer__logo {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}
.footer__circle i {
    padding: 15px;
    border-radius: 100%;
    border: 4px #212121 solid;
    font-size: 2rem;
}


/* colonne droite */
.colonnedroite i {
    color: #FFC107;
}
.articledroit {
    margin-left: 60px;
    padding-right: 80px;
    padding-top: 60px;
}
h4 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 180%;
    border-bottom: 2px #FFC107 solid;
}
h4 i {
    font-size: 150%;
    color: #FFC107;
    margin-right: 30px;
}
.encart {
    display: -webkit-box;
    display: flex;
}
.encartgauche {
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.annee {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 200px;
}
.encartdroit {
    width: 70%;
}
.ecole {
    text-transform: uppercase;
    font-weight: 700;
}
.reco {
    display: -webkit-box;
    display: flex;
    width: 100%;
    margin-top: -10px
}
.recom__gauche {
    width: 50%;
    text-align: left;
}
.recom__droite {
    width: 50%;
    text-align: left;
}
.recomdroite {
    margin-left: 30%;
}
.bold {
    font-weight: 700;
    text-transform: uppercase;
}
.reco span {
    font-weight: 700;
}


@media screen and (max-width: 750px) {
    body {
        border: none;
    }
    .contact {
        padding: 8px;
        margin: 0;
    }
    .articledroit {
        margin-top: 30px;
        margin-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
   }
   h2 {
       font-size: 130%;
   }
    h3 {
        font-size: 120%;
    }
    h4 {
        font-size: 120%;
    }
    h4 i {
        margin-right: 2px;
    }
    .annee {
        margin-right: 10px;
        width: 100px;
    }
    .recomdroite {
        margin: 10px;
    }

}



@media screen and (max-width: 590px) {
    body {
        border: none;
    }
    header .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
    .titre {
        margin-top: -30px;
    }
    .titre article {
        font-size: 80%;
        margin: 30px;
        padding: 0;
    }
    img {
        width: 70%;
        padding: 0;
        margin: 0;
    }
    h3 {
        font-size: 150%;
    }
    h4 {
        font-size: 120%;
    }
    h4 i {
        margin-right: 5px;
    }
    .row {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
    .colonnegauche {
        width: 100%;
        margin-bottom: 30px;
    }
    .colonnedroite {
        width: 100%;
    }
    .articledroit {
        width: 100%;
        margin: 10px;
        padding: 0;
    }
    .encartgauche {
        margin-right: 10%;
    }
    .annee {
        width: 100px;
    }
     .reco {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
    .recomdroite {
        margin: 0;
    }
}